.button {
    border-radius: 50px;
    background-color: #29a98b;
    color: white;
    padding: 15px;
    border: 0px;
    transition: border-radius 1s ease, padding 1s ease;
    font-size: 0.938rem;
}

.button:hover {
    border-radius: 70px;
    padding: 20px;
}

.error:hover {
    border-radius: 100px;
    padding: 100px;
    background-color: red;
}

@media only screen and (max-width: 768px) { 
    .button { 
        font-size: 0.6rem;
    }
}