.hero {
    position: absolute;
    top: 15%;
    left: 5%;
   
    h1 {
        color: #186553;
        font-size: 70px;
        margin-bottom: 15px;
    }

    p {
        margin-top: 0px;
        color: #31363c;
        font-size: 35px;
    }
}