body {
    margin: 0;
    /*background*/
    background: url('https://png.pngtree.com/png-clipart/20211116/original/pngtree-minimalist-desktop-png-image_6934222.png'),
        linear-gradient(to bottom, #b5e0d6, #20876f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    background-color: #20876f;

    /*position*/
    height: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    height: 100vh;

    /*1/b.) */
    font-Family: 'Roboto';

}


.app-container {
    color: #31363c;

    min-height: 100vh;
    scroll-snap-align: start;

    position: relative;
    min-height: 100vh;
}

.main {
    display: flex;
    height: 100vh;
}

.main>div {
    height: 100%;
}

.main>div:first-child {
    flex: 0 0 65%;
    /*if u update u need update last-child*/
}

.main>div:last-child {
    flex: 0 0 35%;
    /*if u update u need update first-child*/
    background-color: #ffffff80
}

@media only screen and (max-width: 1024px) { 
    body {
        background-color: #20876f;
        /* background-image: none;  */
    }
}

@media only screen and (max-width: 768px) { 
    .main {
        flex-direction: column;
    }
}


